@media screen and (max-width:1020px) {
     .container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0 auto; 
        width: 100%;
        background-color: #fff;
    }

    .card{
        box-shadow: none;
        max-width: 400;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
    }

    .week{
        position: absolute;
        left: 28px;
        top: 68px;
        width: 100px;
        height: 100px;
        font-size: 0.6em;
        padding: 10px;
        font-weight: 700;
    }

    .day{
        font-size: 1.9em;
    }

    .th{
        font-size: 1.2em;
    }

    img{
        width: 100px;
        height: 100px;
    }

    .bola-de-basquete{
        position: absolute;
        right: 28px;
        bottom:  80px;
    }
    
    .subtitulo h2{
        font-size: 1rem;
    }

    .subtitulo p{
        font-size: 0.8em;
    }
}

@media (max-width:767px) {
    .week{
        display: none;
    }

    .card{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        background: url(../img/basket.png) center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
   
     .basket{
        width: 300px;
    }

    .basket .tiquete{
        width: 292px;
        height: 100px;
        border-radius: 10px 0 0 10px;
        z-index: 2; 
    } 

    .basket .tiquete .title{
        font-size: 2rem;
    }

    .basket .subtitulo{
        font-size: 0.9rem;
        width: 146px;
        height: 100px;
        opacity: 0.8;
        border-radius: 0 0 10px 10px;
    }

    .times, .about{
        width: 270px;
        font-size: 1.1rem;
        color: #000;
        font-weight: 700;
    }
    
    .times span{
        color: #dc0d0d;
    }
    
    .bola-de-basquete{
        display: none;
    }
}